.wheel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .the_wheel {
    background-position: center;
    background-repeat: none;
    // width: 438px;
    // height: 582px;

    width: clamp(5rem, 30vw + 10rem, 15rem);
    height: clamp(5rem, 30vw + 10rem, 15rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1,
  p {
    margin: 0;
  }

  .power_controls {
    margin-top: 100px;
  }

  div.html5_logo {
    margin-left: 70px;
  }

  table.power {
    background-color: #cccccc;
    cursor: pointer;
    border: 1px solid #333333;
  }

  table.power th {
    background-color: white;
    cursor: default;
  }

  td.pw1 {
    background-color: #6fe8f0;
  }

  td.pw2 {
    background-color: #86ef6f;
  }

  td.pw3 {
    background-color: #ef6f6f;
  }

  .clickable {
    cursor: pointer;
  }

  .margin_bottom {
    margin-bottom: 5px;
  }
}
