.scratch-card-container {
  margin-top: 25vh;
}

.scratch-card {
  border: 3px solid rgb(209, 246, 141);
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(241, 253, 219);

  .canvas {
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .form {
    padding: 20px;
  }
}
